<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="10 seconds">
  <jmxConfigurator/>
  <include resource="org/springframework/boot/logging/logback/base.xml"/>

  <logger name="org.springframework.web" level="DEBUG"/>

  <root level="info">
    <appender-ref ref="CONSOLE"/>
  </root>

  <root level="error">
    <appender-ref ref="CONSOLE"/>
  </root>

</configuration>
